*{
    padding: 0;
    margin: 0;
}
.container:before{
    content: '';
    background-image: url(img/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    opacity: 0.5;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.container{
    display: grid;
    place-content: center;
}

h1{
    color: green;
    text-align: center;
}
h4{
    color: rgb(68, 68, 68);
    text-align: center;
    font-size: 23px;
}

#gyumolcs {
    background-color: rgb(226, 238, 226);
    border-radius: 5px;
    height: 40px;
}
.row {
    margin: 0 auto;
    
}

.col-md-9 {
    text-align: right;
}

.col-md-3 {
    text-align: left;
}